/* personnalisations */:root{ 
    --header-bgcolor: #FFF; 
    --header-text: #68b734; 
    --header-hover: #327b23; 
    --menuG-bgcolor: #FFF; 
    --menuG-color: #333; 
    --lien-classique: #68b734; 
    --cal-titrecolor: #333; 
    --cal-titrebgcolor: #FFF; 
    --cal-joursbgcolor: #FFF; 
    --cal-jourscolor: #333; 
    --cal-sembgcolor: #FFF; 
    --cal-semcolor: #68b734; 
    --cal-semhovercolor: #327b23; 
    --cal-weekbgcolor: #FFF; 
    --cal-weekcolor: #68b734; 
    --cal-cellbgcolor: #FFF; 
    --cal-cellcolor: #68b734; 
    --cal-cellhoverbgcolor: #FFF; 
    --cal-cellhovercolor: #327b23; 
    --cal-current-day-bg: #FFF; 
    --cal-current-day-col: #000; 
    --pl2-titrebgcolor: #FFF; 
    --pl2-titrecolor: #777; 
    --pl2-entetebgcolor: #FFF; 
    --pl2-entetecolor: #68b734; 
    --pl2-cellbgcolor: #FFF; 
    --pl2-cellcolor: #68b734; 
    --icons-color: #333; 
    --btn-primary-color: #FFF; 
    --btn-primary-bgcolor: #68b734; 
    --btn-primary-bordcolor: #327b23; 
    --active-btn-primary-color: #FFF; 
    --active-btn-primary-bgcolor: #68b734; 
    --active-btn-primary-bordcolor: #327b23; 
    --focus-btn-primary-bgcolor: #68b734; 
    --focus-btn-primary-bordcolor: #327b23; 
    --focus-btn-primary-color: #FFF;}
